<%- only_show ||= false -%>
<%= simple_form_for(@song) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs well">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :title, disabled: only_show %>
      </div>
      <div class="col-md-6">
        <%= f.input :composer, disabled: only_show %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :tempo, disabled: only_show %>
      </div>
      <div class="col-md-6">
        <%= f.input :key, disabled: only_show %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :scale, disabled: only_show %>
      </div>
      <div class="col-md-6">
        <%= f.input :score, disabled: only_show %>
      </div>
    </div>
    <iframe sandbox="allow-same-origin allow-forms allow-scripts" src="https://ryoyakawai.github.io/smfplayer/"></iframe>
    <%= f.hidden_field :lock_version %>
  </div>

  <%- unless only_show -%>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <%- end -%>
<% end %>
